<?xml version="1.0" encoding="UTF-8"?>
<sv:node xmlns:sv="http://www.jcp.org/jcr/sv/1.0" sv:name="events">
  <sv:property sv:name="jcr:primaryType" sv:type="Name">
    <sv:value>hippostd:folder</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
    <sv:value>hippo:translated</sv:value>
    <sv:value>hippo:harddocument</sv:value>
    <sv:value>hippotranslation:translated</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:uuid" sv:type="String">
    <sv:value>45fa74b5-4a51-456c-893a-14b32e9da9ad</sv:value>
  </sv:property>
  <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
    <sv:value>live</sv:value>
    <sv:value>preview</sv:value>
  </sv:property>
  <sv:property sv:name="hippo:related___pathreference" sv:type="String"/>
  <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
    <sv:value>new-event-folder</sv:value>
    <sv:value>new-event</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:id" sv:type="String">
    <sv:value>2a57de96-bc3c-4a63-a61f-869c0cebd9cd</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:locale" sv:type="String">
    <sv:value>fr</sv:value>
  </sv:property>
  <sv:node sv:name="hippotranslation:translations">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippotranslation:translations</sv:value>
    </sv:property>
  </sv:node>
  <sv:node sv:name="facetedevents">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippofacnav:facetnavigation</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:docbase" sv:type="String">
      <sv:value>45fa74b5-4a51-456c-893a-14b32e9da9ad</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:skipresultsetfacetsavailable" sv:type="Boolean">
      <sv:value>true</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:facetnodenames" sv:type="String" sv:multiple="true">
      <sv:value>année${hide:'year'}</sv:value>
      <sv:value>mois${after:'year', hide:'month'}</sv:value>
      <sv:value>jour${after:'month'}</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:facets" sv:type="String" sv:multiple="true">
      <sv:value>mootlywcm:date$year</sv:value>
      <sv:value>mootlywcm:date$month</sv:value>
      <sv:value>mootlywcm:date$day</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:limit" sv:type="Long">
      <sv:value>100</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:sortby" sv:type="String" sv:multiple="true">
      <sv:value>mootlywcm:date</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:sortorder" sv:type="String" sv:multiple="true">
      <sv:value>descending</sv:value>
    </sv:property>
  </sv:node>
  <sv:node sv:name="facetedeventsmobile">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippofacnav:facetnavigation</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:docbase" sv:type="String">
      <sv:value>45fa74b5-4a51-456c-893a-14b32e9da9ad</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:skipresultsetfacetsavailable" sv:type="Boolean">
      <sv:value>true</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:facetnodenames" sv:type="String" sv:multiple="true">
      <sv:value>Date</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:facets" sv:type="String" sv:multiple="true">
      <sv:value>mootlywcm:date$[{name:'Prochainement', resolution:'day', begin:0},{name:'Passés', resolution:'day', end:0}]
      </sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:limit" sv:type="Long">
      <sv:value>100</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:sortby" sv:type="String" sv:multiple="true">
      <sv:value>mootlywcm:date</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:sortorder" sv:type="String" sv:multiple="true">
      <sv:value>descending</sv:value>
    </sv:property>
  </sv:node>
  <sv:node sv:name="hippo:translation">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippo:translation</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:language" sv:type="String">
      <sv:value/>
    </sv:property>
    <sv:property sv:name="hippo:message" sv:type="String">
      <sv:value>Évènements</sv:value>
    </sv:property>
  </sv:node>
  <sv:node sv:name="2010">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippostd:folder</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
      <sv:value>hippo:harddocument</sv:value>
      <sv:value>hippotranslation:translated</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:uuid" sv:type="String">
      <sv:value>77f17fb1-abb8-4975-aa27-08a3e1bdfc56</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:related___pathreference" sv:type="String"/>
    <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
      <sv:value>new-event-folder</sv:value>
      <sv:value>new-event</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:id" sv:type="String">
      <sv:value>10a4c370-ff7c-487a-9968-0f359b1f0a49</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:locale" sv:type="String">
      <sv:value>fr</sv:value>
    </sv:property>
    <sv:node sv:name="hippotranslation:translations">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippotranslation:translations</sv:value>
      </sv:property>
    </sv:node>
    <sv:node sv:name="11">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippostd:folder</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
        <sv:value>hippo:harddocument</sv:value>
        <sv:value>hippotranslation:translated</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>4bfd39d6-f86f-4a0a-84c1-d76c662a834b</sv:value>
      </sv:property>
      <sv:property sv:name="hippo:related___pathreference" sv:type="String"/>
      <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
        <sv:value>new-event-folder</sv:value>
        <sv:value>new-event</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>6c06b0ea-6e8c-4485-8f23-5eec8e7e2d80</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>fr</sv:value>
      </sv:property>
      <sv:node sv:name="hippotranslation:translations">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippotranslation:translations</sv:value>
        </sv:property>
      </sv:node>
      <sv:node sv:name="j-fall">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>hippo:hardhandle</sv:value>
          <sv:value>hippo:translated</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>dc5f4f5f-f62f-4d84-83ce-d222c795d285</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value>fr</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>J-Fall</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="j-fall">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>mootlywcm:event</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>hippo:harddocument</sv:value>
            <sv:value>hippotranslation:translated</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>960c0ace-d14f-426d-92a3-871147e40c1c</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2010/11/j-fall</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:date" sv:type="Date">
            <sv:value>2010-11-03T10:22:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:enddate" sv:type="Date">
            <sv:value>2010-11-03T09:41:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:summary" sv:type="String">
            <sv:value>Conférence annuelle organisée par le groupe d'utilisateur Java des Pays-Bas (NLJUG).</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:title" sv:type="String">
            <sv:value>J-Fall</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:tags" sv:type="String" sv:multiple="true">
            <sv:value>Conférence</sv:value>
            <sv:value>Java</sv:value>
            <sv:value>Pays-Bas</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin17</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2010-07-29T07:41:06.385Z</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2011-01-12T14:30:20.870Z</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2011-01-12T14:41:17.513Z</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>1384a809-2254-4c96-be30-4cbc820356ca</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>fr</sv:value>
          </sv:property>
          <sv:node sv:name="hippotranslation:translations">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippotranslation:translations</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:copyright">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>mootlywcm:copyright</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:description" sv:type="String">
              <sv:value>NLJUG</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:url" sv:type="String">
              <sv:value>http://www.nljug.org/pages/events/content/jfall_2010/</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:description">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;&lt;body&gt;&lt;/body&gt;&lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:form">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippo:mirror</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>cafebabe-cafe-babe-cafe-babecafebabe</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:location">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>mootlywcm:address</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:city" sv:type="String">
              <sv:value>Nijkerk</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:country" sv:type="String">
              <sv:value>Pays-Bas</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:latitude" sv:type="Double">
              <sv:value>0.0</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:longitude" sv:type="Double">
              <sv:value>0.0</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:number" sv:type="String">
              <sv:value>12</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:postalcode" sv:type="String">
              <sv:value>3861 MC</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:province" sv:type="String">
              <sv:value/>
            </sv:property>
            <sv:property sv:name="mootlywcm:street" sv:type="String">
              <sv:value>Berencamperweg</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="relateddocs:docs">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>relateddocs:docs</sv:value>
            </sv:property>
          </sv:node>
        </sv:node>
      </sv:node>
    </sv:node>
    <sv:node sv:name="10">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippostd:folder</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
        <sv:value>hippo:harddocument</sv:value>
        <sv:value>hippotranslation:translated</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>c660bb0e-e29c-4591-890f-ff93a20a7686</sv:value>
      </sv:property>
      <sv:property sv:name="hippo:related___pathreference" sv:type="String"/>
      <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
        <sv:value>new-event-folder</sv:value>
        <sv:value>new-event</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>029d82b2-0b73-427b-9d00-63313e353f2d</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>fr</sv:value>
      </sv:property>
      <sv:node sv:name="hippotranslation:translations">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippotranslation:translations</sv:value>
        </sv:property>
      </sv:node>
      <sv:node sv:name="innovations-watersmart">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>hippo:hardhandle</sv:value>
          <sv:value>hippo:translated</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>e1b32491-f208-4405-9656-e471fcf4223f</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value>fr</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Innovations WaterSmart</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="innovations-watersmart">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>mootlywcm:event</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>hippo:harddocument</sv:value>
            <sv:value>hippotranslation:translated</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>115e56b2-77e0-47d0-899e-4475d9127b31</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2010/10/innovations-watersmart</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:date" sv:type="Date">
            <sv:value>2011-10-06T10:22:00.000+02:00</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:enddate" sv:type="Date">
            <sv:value>2011-10-08T11:53:00.000+02:00</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:summary" sv:type="String">
            <sv:value>Aux innovations WaterSmart, de nombreux professionnels viendront proposer des ateliers ,
              démonstration et visites guidées. L'idée est de rassembler les visiteurs avec les ressources dont ils ont
              besoin pour une atmosphère de communication et de partage..
            </sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:title" sv:type="String">
            <sv:value>Innovations WaterSmart</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin09</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2010-07-30T09:53:27.999Z</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2011-01-12T14:41:51.003Z</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2011-01-12T14:54:02.534Z</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>7c5958f7-deee-49fc-9adc-463f8f9b3c4d</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>fr</sv:value>
          </sv:property>
          <sv:node sv:name="hippotranslation:translations">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippotranslation:translations</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:copyright">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>mootlywcm:copyright</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:description" sv:type="String">
              <sv:value>watersmart innovations</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:url" sv:type="String">
              <sv:value>www.watersmartinnovations.com/</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:description">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt; &lt;body&gt; &lt;h3&gt;Lundi 4 Octobre &lt;/h3&gt;&lt;strong&gt;12 pm - 6 pm&lt;/strong&gt;
                &lt;p&gt;- Exhibitor registration open &lt;br/&gt; &lt;strong&gt;2 pm - 6 pm&lt;/strong&gt; - Exhibitor
                setup&lt;/p&gt; &lt;h3&gt;Mardi 5 Octobre &lt;/h3&gt;&lt;strong&gt;8 am - 6 pm&lt;/strong&gt; &lt;p&gt;-
                Exhibitor registration open &lt;br/&gt; &lt;strong&gt;8 am - 5 pm&lt;/strong&gt; - Exhibitor setup &lt;br/&gt;
                &lt;strong&gt;8 am - 12 pm&lt;/strong&gt; - &lt;a title="Benefit-Cost Analysis Workshop"
                href="http://www.watersmartinnovations.com/desc_benefit.php"&gt;Benefit-Cost Analysis Workshop&lt;/a&gt;
                &lt;strong&gt;(Pre-Conference Special Workshop)&lt;/strong&gt; &lt;br/&gt; &lt;strong&gt;8 am - 5 pm&lt;/strong&gt;
                - &lt;a title="EPA Region 9 Energy Management Workshop"
                href="http://www.watersmartinnovations.com/desc_EPA9.php"&gt;EPA Region 9 Energy Management Workshop&lt;/a&gt;
                &lt;strong&gt;(Pre-Conference Special Workshop)&lt;/strong&gt; &lt;br/&gt; &lt;strong&gt;12 pm - 6 pm&lt;/strong&gt;
                - Conference registration open &lt;br/&gt; &lt;strong&gt;1 am - 5 pm&lt;/strong&gt; - &lt;a title="CII
                Water Audit Process" href="http://www.watersmartinnovations.com/desc_C11.php"&gt;CII Water Audit Process&lt;/a&gt;
                &lt;strong&gt;(Pre-Conference Special Workshop)&lt;/strong&gt;&lt;/p&gt; &lt;h3&gt;Mercredi 6 Octobre
                &lt;/h3&gt;&lt;strong&gt;7 am - 5 pm&lt;/strong&gt; &lt;p&gt;- Conference and exhibitor registration
                open &lt;br/&gt; &lt;strong&gt;7 am - 9 am&lt;/strong&gt; - Smart Water Application Technologies (SWAT)
                &lt;strong&gt;(Pre-Conference Session)&lt;/strong&gt; &lt;br/&gt; &lt;strong&gt;9:15 am - 10:05 am&lt;/strong&gt;
                - Opening session &lt;br/&gt; &lt;strong&gt;10:15 am - 11:15 am&lt;/strong&gt; - Sponsored break, WSI
                2010 Expo hall &lt;br/&gt; &lt;strong&gt;11 am - 12 pm&lt;/strong&gt; - Poster session &lt;br/&gt; &lt;strong&gt;10:15
                am - 5 pm&lt;/strong&gt; - Exhibit hall open &lt;br/&gt; &lt;strong&gt;1 pm - 4:15 pm&lt;/strong&gt; -
                Professional sessions&lt;/p&gt; &lt;h3&gt;Jeudi 7 Octobre &lt;/h3&gt;&lt;strong&gt;7 am - 6 pm&lt;/strong&gt;
                &lt;p&gt;- Conference and exhibitor registration open &lt;br/&gt; &lt;strong&gt;8 am - 9:30 am&lt;/strong&gt;
                - Sponsored coffee/breakfast, WSI 2010 Expo Hall &lt;br/&gt; &lt;strong&gt;8 am - 6 pm&lt;/strong&gt; -
                Exhibit hall open (closed 11:30 am - 1:30 pm) &lt;br/&gt; &lt;strong&gt;9:30 am - 11:45 am&lt;/strong&gt;
                - Professional sessions &lt;br/&gt; &lt;strong&gt;12 pm - 1:30 pm&lt;/strong&gt; - Keynote luncheon &lt;br/&gt;
                &lt;strong&gt;2 pm - 4:20 pm&lt;/strong&gt; - Afternoon professional sessions &lt;br/&gt; &lt;strong&gt;4:30
                pm - 5:30 pm&lt;/strong&gt; - Poster session &lt;br/&gt; &lt;strong&gt;4:30 pm - 6 pm&lt;/strong&gt; -
                Sponsored cocktail reception, WSI 2010 Expo Hall&lt;/p&gt; &lt;h3&gt;Vendredi 8 Octobre &lt;/h3&gt;&lt;strong&gt;7
                am - 12 pm&lt;/strong&gt; &lt;p&gt;- Conference and exhibitor registration open &lt;br/&gt; &lt;strong&gt;8
                am - 9 am&lt;/strong&gt; - Sponsored coffee/breakfast, WSI 2010 Expo Hall &lt;br/&gt; &lt;strong&gt;9 am
                - 11:15 am&lt;/strong&gt; - Professional sessions &lt;br/&gt; &lt;strong&gt;8 am - 12 pm&lt;/strong&gt;
                - Exhibit hall open &lt;br/&gt; &lt;strong&gt;10 am - 2 pm&lt;/strong&gt; - Airport shuttles depart
                every hour &lt;br/&gt; &lt;strong&gt;12 pm&lt;/strong&gt; - Exhibit tear-down&lt;/p&gt;

                &lt;/body&gt; &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:form">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippo:mirror</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>cafebabe-cafe-babe-cafe-babecafebabe</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>db755a33-504d-43a7-821b-470b10123936</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
          <sv:node sv:name="mootlywcm:location">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>mootlywcm:address</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:city" sv:type="String">
              <sv:value>Las Vegas</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:country" sv:type="String">
              <sv:value>United States</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:latitude" sv:type="Double">
              <sv:value>0.0</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:longitude" sv:type="Double">
              <sv:value>0.0</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:number" sv:type="String">
              <sv:value/>
            </sv:property>
            <sv:property sv:name="mootlywcm:postalcode" sv:type="String">
              <sv:value/>
            </sv:property>
            <sv:property sv:name="mootlywcm:province" sv:type="String">
              <sv:value>NV</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:street" sv:type="String">
              <sv:value>WaterSmart Innovations Conference &amp; Expo</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="relateddocs:docs">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>relateddocs:docs</sv:value>
            </sv:property>
          </sv:node>
        </sv:node>
      </sv:node>
    </sv:node>
  </sv:node>
</sv:node>
