.border-all {border: 1px solid #999;}
.border-left {border-left: 1px solid #999;}
.border-right {border-right: 1px solid #999;padding-bottom: 2px;}
.border-top {border-top: 1px solid #999;}
.border-bottom {border-bottom: 1px solid #999;}
.border-thick-top {border-top: 3px solid #999;}
.border-thick-bottom {border-bottom: 3px solid #999;}
.border-thick-right {border-right: 3px solid #999;}

label {padding: 3px; vertical-align: text-bottom;}
input {margin: 0 0 0 0; padding: 0 0 0 0;}

.username {text-transform:lowercase;}
#pi_country {font-size: 15px}

.page-vendor{background-color: #E0CAD1;}

.page #results { margin: 15px 0; }
.page #search-results .search-result { border-top: 1px solid #cccccc; padding: 0 5px; }
.page #search-results .search-result .title { display: block; font-size: 108%; margin-top: 7px; }
.page #search-results .search-result .text { display: block; margin-top: 5px; }
.page #search-results .search-result .path { display: block; color: #009900; font-size: 85%; margin: 3px 0 10px; }

/* Body - General - Filter */
a.filter { background: url(../images/icon-filter.png) no-repeat right center; color: #333333; padding-right: 20px !important; margin-right: -2px; height: 17px; display: inline-block; }
#filter { padding-bottom: 0; }
#filter .title { margin-bottom: 5px; }
#filter .filter-by { margin-bottom: 10px; color: #333333; }
#filter .filter-by ul { margin-top: 3px; }
#filter .filter-by li { margin-bottom: 2px; color: #666666; }
#filter .filter-by li.active span { color: #333333; padding-right: 20px; height: 17px; background: url(../images/icon-filter.png) no-repeat right center; display: inline-block; }
#filter .filter-by .select { position: absolute; width: 120px; height: 20px; margin-top: 1px; padding: 1px 24px 0 8px; color: #333; background: url(../images/select.png) no-repeat; overflow: hidden; }
/* mootlywcm-11 */
ol#selected-filters { margin: 0 0 13px; }
ol#selected-filters li { display: inline; color: #808080; }

 .box-general { font-size:11px;margin: 10px 0 !important; display: block; background: url(../images/box-bg-general.png) repeat-x left top; border: 1px solid #e0e3c9; padding: 10px !important; }
 .box-general li  { list-style: none;}
 .box-general li.title { display: block; padding: 0 0 7px; font-weight: bold; color: #666666;  }
 .box-general li.subtitle { display: block; padding: 0 0 7px; font-weight: bold; color: #007aa6; position: relative; }
 .box-general li.content { padding-bottom: 10px; color: #333333; }
 .box-general li.content a.hst-cmseditlink { }
 .box-general li.more { text-align: right; }
 .box-general li.link { padding-bottom: 7px; display: block; color: #666666; }
 .box-general.bullet-points li.title { background: none; }
 .box-general ul {padding: 0 0 0 10px !important;}

.facetsearch .facetsearch-field {  width: auto !important;}
.facetsearch .facetsearch-button { width: 60px; height: 22px; color: #333333; font-size: 93%; font-weight: bold; background: url(../images/bg-button-alt.png) repeat-x; border: 1px solid #a69708; }
