
document.documentElement.className = "yui-pe";
</script>

<style type="text/css">
#example {
    height:100em;
}

label { 
    display:block;
    float:left;
    width:90%;
    clear:left;
}

.clear {
    clear:both;
}

#resp {
    margin:10px;
    padding:5px;
    border:1px solid #ccc;
    background:#fff;
}

#resp li {
    font-family:monospace
}

.yui-pe .yui-pe-content {
    display:none;
}

<style>
#container { height:12em; }


.yellow {
		background-color: yellow;
	}
</style>











