<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2010 Hippo

  Licensed under the Apache License, Version 2.0 (the  "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS"
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License. -->
<sv:node xmlns:sv="http://www.jcp.org/jcr/sv/1.0" sv:name="活动">
  <sv:property sv:name="jcr:primaryType" sv:type="Name">
    <sv:value>hippostd:folder</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
    <sv:value>hippo:harddocument</sv:value>
    <sv:value>hippotranslation:translated</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:uuid" sv:type="String">
    <sv:value>60d08120-1c36-432e-975e-2053861e985f</sv:value>
  </sv:property>
  <sv:property sv:name="hippo:related___pathreference" sv:type="String"/>
  <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
    <sv:value>new-translated-folder</sv:value>
    <sv:value>new-document</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:id" sv:type="String">
    <sv:value>2a57de96-bc3c-4a63-a61f-869c0cebd9cd</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:locale" sv:type="String">
    <sv:value>zh</sv:value>
  </sv:property>
  <sv:node sv:name="hippotranslation:translations">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippotranslation:translations</sv:value>
    </sv:property>
  </sv:node>
  <sv:node sv:name="2010">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippostd:folder</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
      <sv:value>hippo:harddocument</sv:value>
      <sv:value>hippotranslation:translated</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:uuid" sv:type="String">
      <sv:value>8abe3d5f-6ea3-4589-9f60-aa0eacab9625</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:related___pathreference" sv:type="String"/>
    <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
      <sv:value>new-translated-folder</sv:value>
      <sv:value>new-document</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:id" sv:type="String">
      <sv:value>10a4c370-ff7c-487a-9968-0f359b1f0a49</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:locale" sv:type="String">
      <sv:value>zh</sv:value>
    </sv:property>
    <sv:node sv:name="hippotranslation:translations">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippotranslation:translations</sv:value>
      </sv:property>
    </sv:node>
    <sv:node sv:name="09">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippostd:folder</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
        <sv:value>hippo:harddocument</sv:value>
        <sv:value>hippotranslation:translated</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>0f8652e1-1df2-4516-b281-47250a04bed8</sv:value>
      </sv:property>
      <sv:property sv:name="hippo:related___pathreference" sv:type="String"/>
      <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
        <sv:value>new-translated-folder</sv:value>
        <sv:value>new-document</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>891990e2-cfd5-40b9-9ab8-69e293bdde34</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>zh</sv:value>
      </sv:property>
      <sv:node sv:name="hippotranslation:translations">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippotranslation:translations</sv:value>
        </sv:property>
      </sv:node>
      <sv:node sv:name="新绿色经济sjf峰会">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>hippo:translated</sv:value>
          <sv:value>hippo:hardhandle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>6b7f6a3c-917b-416d-877b-7cf729704406</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value/>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>新绿色经济SJF峰会</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="新绿色经济sjf峰会">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>mootlywcm:event</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>hippo:harddocument</sv:value>
            <sv:value>hippotranslation:translated</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>76671409-7fae-41dc-8550-8caa8ee32e1b</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>河马转到绿/活动/2010/09/新绿色经济sjf峰会</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:categories" sv:type="String">
            <sv:value>Green Economy</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:date" sv:type="Date">
            <sv:value>2010-09-14T10:00:00.000+02:00</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:enddate" sv:type="Date">
            <sv:value>2010-07-26T09:28:05.071+02:00</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:summary" sv:type="String">
            <sv:value>基于去年峰会的成功，今年充满活力的500人会议将针对加速增长和影响的主题召开。全国主题演讲人和清洁技术的执行官团体将共同分享成功经验、发展伙伴关系和联络方法的建议和企业管理的实际策划。
            </sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:title" sv:type="String">
            <sv:value>新绿色经济SJF峰会</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>editor01</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>unpublished</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>new</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:tags" sv:type="String" sv:multiple="true">
            <sv:value>Groene Groei Versnellen</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2010-07-12T13:18:47.372+02:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2011-07-15T11:24:42.179+02:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>editor01</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>f6e2eba5-1eb5-496c-bd26-1f657fe78830</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>zh</sv:value>
          </sv:property>
          <sv:node sv:name="hippotranslation:translations">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippotranslation:translations</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:description">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
                &lt;body&gt;

                &lt;p&gt;
                加入国家商业领导者、企业家、投资家、决策者和社会团体，来光临北卡罗来纳州德罕市的第2届年度新绿色经济峰会。这次活动基于2009年6月集合各界人士为投资建设新的绿色经济分享灵感和战略的新绿色经济SJF峰会。2009年峰会的主题演讲人包括美国清洁技术产业投资集团执行主席尼古拉斯·帕克、groSolar公司首席执行官杰夫·伍尔夫、Green
                for All高级分析师梅丽莎·布拉德黎·伯恩斯和自助信用联合会创始人兼首席执行官马丁·艾克斯。&lt;/p&gt;

                &lt;/body&gt;
                &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:form">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippo:mirror</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>cafebabe-cafe-babe-cafe-babecafebabe</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="relateddocs:docs">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>relateddocs:docs</sv:value>
            </sv:property>
            <sv:node sv:name="relateddocs:reldoc">
              <sv:property sv:name="jcr:primaryType" sv:type="Name">
                <sv:value>hippo:facetselect</sv:value>
              </sv:property>
              <sv:property sv:name="hippo:docbase" sv:type="String">
                <sv:value>0489881e-adf4-4a77-a281-21fc5442a276</sv:value>
              </sv:property>
              <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
              <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
              <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
            </sv:node>
          </sv:node>
          <sv:node sv:name="mootlywcm:location">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>mootlywcm:address</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:city" sv:type="String">
              <sv:value>Durham</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:country" sv:type="String">
              <sv:value>United States</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:latitude" sv:type="Double">
              <sv:value>3.5997528E7</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:longitude" sv:type="Double">
              <sv:value>-7.8902518E7</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:number" sv:type="String">
              <sv:value>201</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:postalcode" sv:type="String">
              <sv:value>27701</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:province" sv:type="String">
              <sv:value>North Carolina</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:street" sv:type="String">
              <sv:value>Foster Street</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:copyright">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>mootlywcm:copyright</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:description" sv:type="String">
              <sv:value>2010 SJF Summit</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:url" sv:type="String">
              <sv:value>http://www.regonline.com/register/checkin.aspx?EventId=856211</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>32d42877-6332-4dfc-8c60-beb9a385ce14</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
    </sv:node>
  </sv:node>
  <sv:node sv:name="facetedevents">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippofacnav:facetnavigation</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:docbase" sv:type="String">
      <sv:value>60d08120-1c36-432e-975e-2053861e985f</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:skipresultsetfacetsavailable" sv:type="Boolean">
      <sv:value>true</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:facetnodenames" sv:type="String" sv:multiple="true">
      <sv:value>year${hide:'year'}</sv:value>
      <sv:value>month${after:'year', hide:'month'}</sv:value>
      <sv:value>day${after:'month'}</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:facets" sv:type="String" sv:multiple="true">
      <sv:value>mootlywcm:date$year</sv:value>
      <sv:value>mootlywcm:date$month</sv:value>
      <sv:value>mootlywcm:date$day</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:limit" sv:type="Long">
      <sv:value>100</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:sortby" sv:type="String" sv:multiple="true">
      <sv:value>mootlywcm:date</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:sortorder" sv:type="String" sv:multiple="true">
      <sv:value>descending</sv:value>
    </sv:property>
  </sv:node>
</sv:node>
