extends layout

block content
    h1.
        User List
    ul
        each member, i in memberlist
            li
                a(href="#{member['jcr:uuid']}")= member["mootlywcm:userName"]