#label{
	color:black;
	font-size:12pt;
	font-family:sans-serif;
	text-transform: uppercase;
    font-style:bold;
    text-shadow: gray;
    height:30px;
}
#input{
	width:240px;
	height:35px;
	align:center;
}
#left{
	width:20px;
}
#right{
	align:right;
}
.input_data{
        width:240px;
	height:22px;
}
.signupform{
	width:40em;
	background-color:lightgray;
	border:1px solid lightblue;
	border-radius: 3px;
	
}