<?xml version="1.0" encoding="UTF-8"?>
<!-- newly added "events" from Wealth4India -->
<sv:node sv:name="events" xmlns:sv="http://www.jcp.org/jcr/sv/1.0">
  <sv:property sv:name="jcr:primaryType" sv:type="Name">
    <sv:value>hippostd:folder</sv:value>
  </sv:property>
  <sv:property sv:multiple="true" sv:name="jcr:mixinTypes" sv:type="Name">
    <sv:value>hippo:harddocument</sv:value>
    <sv:value>hippotranslation:translated</sv:value>
    <sv:value>hippo:translated</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:uuid" sv:type="String">
    <sv:value>392850eb-ba46-472f-a1d5-e69aeccfb65d</sv:value>
  </sv:property>
  <sv:property sv:multiple="true" sv:name="hippo:availability" sv:type="String">
    <sv:value>live</sv:value>
    <sv:value>preview</sv:value>
  </sv:property>
  <sv:property sv:name="hippo:related___pathreference" sv:type="String"/>
  <sv:property sv:multiple="true" sv:name="hippostd:foldertype" sv:type="String">
    <sv:value>new-event-folder</sv:value>
    <sv:value>new-event</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:id" sv:type="String">
    <sv:value>2a57de96-bc3c-4a63-a61f-869c0cebd9cd</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:locale" sv:type="String">
    <sv:value>en</sv:value>
  </sv:property>
  <sv:node sv:name="hippotranslation:translations">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippotranslation:translations</sv:value>
    </sv:property>
  </sv:node>
  <sv:node sv:name="facetedevents">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippofacnav:facetnavigation</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:count" sv:type="Long">
      <sv:value>4</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:docbase" sv:type="String">
      <sv:value>392850eb-ba46-472f-a1d5-e69aeccfb65d</sv:value>
    </sv:property>
    <sv:property sv:multiple="true" sv:name="hippofacnav:facetnodenames" sv:type="String">
      <sv:value>year${hide:'year'}</sv:value>
      <sv:value>month${after:'year', hide:'month'}</sv:value>
      <sv:value>day${after:'month'}</sv:value>
    </sv:property>
    <sv:property sv:multiple="true" sv:name="hippofacnav:facets" sv:type="String">
      <sv:value>mootlywcm:date$year</sv:value>
      <sv:value>mootlywcm:date$month</sv:value>
      <sv:value>mootlywcm:date$day</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:limit" sv:type="Long">
      <sv:value>100</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:skipresultsetfacetsavailable" sv:type="Boolean">
      <sv:value>true</sv:value>
    </sv:property>
    <sv:property sv:multiple="true" sv:name="hippofacnav:sortby" sv:type="String">
      <sv:value>mootlywcm:date</sv:value>
    </sv:property>
    <sv:property sv:multiple="true" sv:name="hippofacnav:sortorder" sv:type="String">
      <sv:value>descending</sv:value>
    </sv:property>
  </sv:node>
  <sv:node sv:name="facetedeventsmobile">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippofacnav:facetnavigation</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:count" sv:type="Long">
      <sv:value>4</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:docbase" sv:type="String">
      <sv:value>392850eb-ba46-472f-a1d5-e69aeccfb65d</sv:value>
    </sv:property>
    <sv:property sv:multiple="true" sv:name="hippofacnav:facetnodenames" sv:type="String">
      <sv:value>Date</sv:value>
    </sv:property>
    <sv:property sv:multiple="true" sv:name="hippofacnav:facets" sv:type="String">
      <sv:value>mootlywcm:date$[{name:'Upcoming', resolution:'day', begin:0}, {name:'Past',
        resolution:'day', end:0}]
      </sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:limit" sv:type="Long">
      <sv:value>100</sv:value>
    </sv:property>
    <sv:property sv:name="hippofacnav:skipresultsetfacetsavailable" sv:type="Boolean">
      <sv:value>true</sv:value>
    </sv:property>
    <sv:property sv:multiple="true" sv:name="hippofacnav:sortby" sv:type="String">
      <sv:value>mootlywcm:date</sv:value>
    </sv:property>
    <sv:property sv:multiple="true" sv:name="hippofacnav:sortorder" sv:type="String">
      <sv:value>descending</sv:value>
    </sv:property>
  </sv:node>
  <sv:node sv:name="hippo:translation">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippo:translation</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:language" sv:type="String">
      <sv:value/>
    </sv:property>
    <sv:property sv:name="hippo:message" sv:type="String">
      <sv:value>Events</sv:value>
    </sv:property>
  </sv:node>
  <sv:node sv:name="2013">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippostd:folder</sv:value>
    </sv:property>
    <sv:property sv:multiple="true" sv:name="jcr:mixinTypes" sv:type="Name">
      <sv:value>hippo:harddocument</sv:value>
      <sv:value>hippotranslation:translated</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:uuid" sv:type="String">
      <sv:value>cbb60728-e3d0-4722-9780-1e57a9199d18</sv:value>
    </sv:property>
    <sv:property sv:name="hippo:related___pathreference" sv:type="String"/>
    <sv:property sv:multiple="true" sv:name="hippostd:foldertype" sv:type="String">
      <sv:value>new-event-folder</sv:value>
      <sv:value>new-event</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:id" sv:type="String">
      <sv:value>8da2d31a-8251-42c1-93e5-bc7575145e67</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:locale" sv:type="String">
      <sv:value>en</sv:value>
    </sv:property>
    <sv:node sv:name="hippotranslation:translations">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippotranslation:translations</sv:value>
      </sv:property>
    </sv:node>
    <sv:node sv:name="07">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippostd:folder</sv:value>
      </sv:property>
      <sv:property sv:multiple="true" sv:name="jcr:mixinTypes" sv:type="Name">
        <sv:value>hippo:harddocument</sv:value>
        <sv:value>hippotranslation:translated</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>e7f638b5-8a94-41da-9beb-9f2e62de991b</sv:value>
      </sv:property>
      <sv:property sv:name="hippo:related___pathreference" sv:type="String"/>
      <sv:property sv:multiple="true" sv:name="hippostd:foldertype" sv:type="String">
        <sv:value>new-event-folder</sv:value>
        <sv:value>new-event</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>07dc7f02-bd27-4ae4-804e-e2a59857f2ce</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>en</sv:value>
      </sv:property>
      <sv:node sv:name="hippotranslation:translations">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippotranslation:translations</sv:value>
        </sv:property>
      </sv:node>
      <sv:node sv:name="presentation-max-hospital">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:multiple="true" sv:name="jcr:mixinTypes" sv:type="Name">
          <sv:value>hippo:hardhandle</sv:value>
          <sv:value>hippo:translated</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>e556ef97-c12a-413d-affa-cb4ecd2ed269</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value/>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Presentation Max Hospital</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="presentation-max-hospital">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>mootlywcm:event</sv:value>
          </sv:property>
          <sv:property sv:multiple="true" sv:name="jcr:mixinTypes" sv:type="Name">
            <sv:value>hippo:harddocument</sv:value>
            <sv:value>hippotranslation:translated</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>7e00cc6a-28a6-4ee4-9f91-cd75a132cfa8</sv:value>
          </sv:property>
          <sv:property sv:multiple="true" sv:name="hippo:availability" sv:type="String">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2013/07/presentation-max-hospital</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-07-31T14:59:59.102-07:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-07-31T15:11:48.870-07:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-07-31T15:11:54.350-07:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>67c4bf27-dd06-4ab9-b1c0-dbcf7df74f31</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:date" sv:type="Date">
            <sv:value>2013-07-26T14:59:00.000-07:00</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:enddate" sv:type="Date">
            <sv:value>2013-07-26T14:59:00.000-07:00</sv:value>
          </sv:property>
          <sv:property sv:name="mootlywcm:summary" sv:type="String">
            <sv:value/>
          </sv:property>
          <sv:property sv:name="mootlywcm:title" sv:type="String">
            <sv:value>Easy Tax Filing with Wealth4India - At Max Healthcare</sv:value>
          </sv:property>
          <sv:node sv:name="hippotranslation:translations">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippotranslation:translations</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:description">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
&lt;body&gt;

&lt;p&gt;We did a presentation in MAX HEALTHCARE today and it was a very handsome
gathering as well response. Majority of Senior as well junior doctors and other
staffs were individually appreciated to our website. It was a great day for we
all.&lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:location">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>mootlywcm:address</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:city" sv:type="String">
              <sv:value>Gurgaon</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:country" sv:type="String">
              <sv:value>India</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:latitude" sv:type="Double">
              <sv:value>28.452688</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:longitude" sv:type="Double">
              <sv:value>77.082348</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:number" sv:type="String">
              <sv:value>Acharya Puri, Sector 7</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:postalcode" sv:type="String">
              <sv:value>122 001</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:province" sv:type="String">
              <sv:value>Haryana</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:street" sv:type="String">
              <sv:value>Block B, Sushant Lok- 1 Neki Ram Marg</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:form">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippo:mirror</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>cafebabe-cafe-babe-cafe-babecafebabe</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="relateddocs:docs">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>relateddocs:docs</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:copyright">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>mootlywcm:copyright</sv:value>
            </sv:property>
            <sv:property sv:name="mootlywcm:description" sv:type="String">
              <sv:value/>
            </sv:property>
            <sv:property sv:name="mootlywcm:url" sv:type="String">
              <sv:value/>
            </sv:property>
          </sv:node>
          <sv:node sv:name="mootlywcm:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>30d20763-dbb3-4ca8-a445-a9feffcb292d</sv:value>
            </sv:property>
            <sv:property sv:multiple="true" sv:name="hippo:facets" sv:type="String"/>
            <sv:property sv:multiple="true" sv:name="hippo:modes" sv:type="String"/>
            <sv:property sv:multiple="true" sv:name="hippo:values" sv:type="String"/>
          </sv:node>
          <sv:node sv:name="mootlywcm:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>57dc6159-524b-4a64-a586-d4b0c75ea363</sv:value>
            </sv:property>
            <sv:property sv:multiple="true" sv:name="hippo:facets" sv:type="String"/>
            <sv:property sv:multiple="true" sv:name="hippo:modes" sv:type="String"/>
            <sv:property sv:multiple="true" sv:name="hippo:values" sv:type="String"/>
          </sv:node>
        </sv:node>
      </sv:node>
    </sv:node>
  </sv:node>
</sv:node>
