<?xml version="1.0" encoding="UTF-8"	?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:lang="http://www.springframework.org/schema/lang" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/lang http://www.springframework.org/schema/beans/spring-lang-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

  <!-- You may add any beans here. -->  
  <bean class="com.mootly.wcm.services.SequenceGeneratorImpl" id="sequenceGenerator"></bean>
  <bean class="com.mootly.wcm.services.DeductionListService" id="deductionListService"></bean>
  <bean class="com.mootly.wcm.services.ITRXmlGeneratorServiceFactory" id="ITRXmlGeneratorServiceFactory">
      	<constructor-arg index="0">
			<bean class="org.springframework.beans.factory.config.MapFactoryBean">
				<property name="targetMapClass">
					<value>java.util.HashMap</value>
				</property>
				<property name="sourceMap">
					<map>
						<entry key="2011-2012">
						    	<bean class="com.mootly.wcm.services.y2011_2012.ITRXmlGeneratorService"></bean>
						</entry>
						<entry key="2012-2013">
						    <bean class="com.mootly.wcm.services.y2012_2013.ITRXmlGeneratorService"></bean>
						</entry>
					</map>
				</property>
			</bean>      	    
      	</constructor-arg>
  </bean>
</beans>