<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

  <!-- HTTP Security Configuration -->
  <http auto-config="false" entry-point-ref="loginUrlAuthenticationEntryPointVendor">
    <!-- Channel Manager -->
    <intercept-url pattern="/vendorLogin*" filters="none"/>
    <!-- <intercept-url pattern="/**" access="ROLE_everybody"/> -->
	<intercept-url pattern="/vendor/**" access="ROLE_vendor"/>
    <custom-filter position="LOGOUT_FILTER" ref="customLogoutFilterVendor"/>
    <custom-filter position="REMEMBER_ME_FILTER" ref="customRememberMeFilterVendor"/>
    <custom-filter position="FORM_LOGIN_FILTER" ref="customUsernamePasswordAuthenticationFilterVendor"/>
  </http>


  <!--
    Channel Manager specification. Need to override the default filter.

    Custom Login Entry Point
  -->
  <beans:bean id="loginUrlAuthenticationEntryPointVendor"
       class="org.onehippo.forge.security.support.springsecurity.authentication.login.HippoLoginUrlAuthenticationEntryPoint">
    <beans:property name="loginFormUrl" value="/vendorLogin"/>
  </beans:bean>


  <!--
    Channel Manager specification. Need to override the default filter.

    Custom Form Login Filter
  -->
   <beans:bean id="customUsernamePasswordAuthenticationFilterVendor"
                class="org.onehippo.forge.security.support.springsecurity.authentication.HippoUsernamePasswordAuthenticationFilter">
     <beans:property name="authenticationManager" ref="authenticationManagerVendor"/>
     <beans:property name="authenticationFailureHandler" ref="failureHandlerVendor"/>
     <beans:property name="authenticationSuccessHandler" ref="successHandlerVendor"/>
     <beans:property name="rememberMeServices" ref="rememberMeServicesVendor"/>
   </beans:bean>

   <beans:bean id="successHandlerVendor"
           class="org.onehippo.forge.security.support.springsecurity.authentication.login.HippoSimpleUrlAuthenticationSuccessHandler">
        <beans:property name="defaultTargetUrl" value="/vendor/itreturn"/>
   </beans:bean>

   <beans:bean id="failureHandlerVendor"
            class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
      <beans:property name="defaultFailureUrl" value="/vendorLogin?loginError=true"/>
   </beans:bean>


  <!--
    Authentication Manager configuration with Hippo Repository based Authentication Provider configuration ('hippoAuthenticationProvider').
    However, you can use any other authentication provider(s) if you don't need to authenticate users against Hippo Repository.
  -->
  <authentication-manager alias="authenticationManagerVendor">
    <authentication-provider ref="mootlyHippoAuthenticationProviderVendor" />
    <!-- Needed if you want the remember me feature-->
    <!--  <authentication-provider ref="hippoAuthenticationRememberMeProvider" />  -->
  </authentication-manager>

  <!--
    Hippo Repository based Authentication Provider. This Authentication Provider provide authentication against Hippo Repository Security Store.
    If you don't need to authenticate users against Hippo Repository, you don't have to include the following bean.
  -->
  <beans:bean id="hippoAuthenticationProviderVendor"
              class="org.onehippo.forge.security.support.springsecurity.authentication.HippoAuthenticationProvider">
  </beans:bean>
  <!--  Mootly's Authentication PRovider -->
  <beans:bean id="mootlyHippoAuthenticationProviderVendor"
              class="org.onehippo.forge.security.support.springsecurity.authentication.MootlyHippoAuthenticationProviderVendor">
    <beans:property name="hippoUserDetailsService"  ref="mootlyHippoUserServiceDetailsServiceVendor"/>
  </beans:bean>

  <!--
    Hippo Repository based Authentication Remember Me Provider. This Authentication Provider support of remember me against Hippo Repository Security Store.
    If you don't need to use the remember me feature, you don't have to include the following bean.
  -->
  <beans:bean name="mootlyHippoUserServiceDetailsServiceVendor" class="org.onehippo.forge.security.support.springsecurity.authentication.MootlyHippoUserDetailsServiceImplVendor">
     <beans:property name="defaultRoleName" value="everybody"/>
  </beans:bean>
  
  <beans:bean id="hippoAuthenticationRememberMeProviderVendor"
            class="org.onehippo.forge.security.support.springsecurity.authentication.rememberme.HippoAuthenticationRememberMeProvider">
    <beans:property name="hippoUserDetailsService" ref="mootlyHippoUserServiceDetailsServiceVendor"/>
    <beans:property name="key" value="hipporemembermekey2012"/>
  </beans:bean>
  
  
  <beans:bean name="hippoUserServiceDetailsServiceVendor" class="org.onehippo.forge.security.support.springsecurity.authentication.HippoUserDetailsServiceImpl">
     <beans:property name="defaultRoleName" value="everybody"/>
  </beans:bean>

  <beans:bean id="customRememberMeFilterVendor" class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
      <beans:property name="rememberMeServices" ref="rememberMeServicesVendor"/>
      <beans:property name="authenticationManager" ref="authenticationManagerVendor"/>
  </beans:bean>


  <beans:bean id="rememberMeServicesVendor" class="org.onehippo.forge.security.support.springsecurity.authentication.rememberme.HippoTokenBasedRememberMeServices">
      <beans:property name="userDetailsService" ref="mootlyHippoUserServiceDetailsServiceVendor"/>
      <beans:property name="key" value="hipporemembermekey2012"/>
      <beans:property name="tokenValiditySeconds" value="31536000"/>
  </beans:bean>

  <!--
    Channel Manager specification. Need to override the default filter.

    Custom Logout Filter
  -->
  <beans:bean id="customLogoutFilterVendor" class="org.onehippo.forge.security.support.springsecurity.authentication.logout.HippoLogoutFilter">
    <!-- if logout succeed then this is the URL -->
    <beans:constructor-arg ref="logoutSuccessHandlerVendor"/>
    <beans:constructor-arg>
        <beans:array>
            <beans:ref bean="hippoLogoutHandlerVendor"/>
        </beans:array>
    </beans:constructor-arg>
    <beans:property name="filterProcessesUrl" value="/j_spring_security_logout_vendor"/>
  </beans:bean>

  <beans:bean id="hippoLogoutHandlerVendor" class="org.onehippo.forge.security.support.springsecurity.authentication.logout.HippoSecurityContextLogoutHandler"/>

  <beans:bean id="logoutSuccessHandlerVendor" class="org.onehippo.forge.security.support.springsecurity.authentication.logout.HippoLogoutSuccessHandler">
    <beans:property name="defaultTargetUrl" value="/vendor/logout"/>
  </beans:bean>


</beans:beans>